*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    color: gray;
    background-color: black;
    
}

.listing > a:hover{
    color: orange;
}


body{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-wrapper{
    width: 90%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

#top-banner{
    width: 100%;
    height: 80px;
    background-color: pink;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
#top-banner > marquee{
    margin-bottom: -49px; 
    background: transparent;
    color: red;
    font-style: italic;
    font-family: vivaldi;
    font-weight: bold;
    padding-left: 35px;
    font-size: 2.2em;
}

#nav-bar{
    width: 100%;
    height: 90px;
    background-color: white;
    position: fixed;
     top: 100px; 
    left: 0px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all ease-in-out .8s ;
}

#nav-bar > *, #nav-bar > * > *, #nav-bar > * > * > *,  #nav-bar > * > * > * > *{
    background-color: white;
}
#nav-bar > #logo{
    flex:1;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
}
#nav-bar > #logo > .text{
    flex:5;
}
#nav-bar > #logo > .icon{
    flex: 2;
    color: red;
     font-size: 3.5em;
}
#nav-bar > #logo > .text > .top{
    
    font-family: vivaldi;
    font-weight: bold;
    font-style:oblique;
    font-size:2em;
    color: rgb(15, 119, 153);
}
#nav-bar > #logo > .text > .motto{
    font-style: italic;
    font-family: vivaldi;
    font-weight: bold;
    padding-left: 35px;
    color: red;
    font-size: 1.2em;
}

#nav-bar > #search-utility{
    flex:1;
    display: flex;
}

#nav-bar > #search-utility > #search-input{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    flex-grow: 1;
    box-shadow: none;
    height: 100%;
    margin-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    flex: 3;
    padding-left: 10px;
}
#nav-bar > #search-utility > #search-btn{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    box-sizing: border-box;
    margin: 0;
    -webkit-appearance: button;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
    font-size: .875rem;
    cursor: pointer;
    background-color: #f68b1e;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    transform: translateZ(0);
    flex-shrink: 0;
    margin-left: 8px;
    flex: 1;
    height: 40px;
}

#nav-bar > #nav-links{
    flex: 2;
}

#nav-bar > #nav-links > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    display: flex;
}

#nav-links > ul > li, #nav-links > ul > li a{
    flex:1;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#nav-links > ul > li a:hover{
    color: orange;
}


#main-body{
    width: 90%;
    top: 200px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    height: 50vh;
    
    
}
/* for  first and third element within the main body */
#main-body > #cartegories, #main-body > #main-body-right{
    background-color: white;
    margin: none;
    width:23%;
    font-family: cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
#cartegories{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#cartegories > span{
    width: auto;
    padding-left: 10% ;
    background-color: white;
    font-weight: bold;
    font-size: 1.1em;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flood-color: cadetblue;
    color: rgb(24, 117, 121);
}
#cartegories > a{
    width: auto;
    padding-left: 10% ;
    flood-color: cadetblue;
    color: rgb(24, 117, 121);
    background-color: white;
    text-decoration: none;
    margin:0px 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold; */
    flood-color: cadetblue;
    color: rgb(24, 117, 121);
    font-size: .8em;
}
#cartegories > a:hover{
    color: orange;
    font-size: .85em;
    text-shadow: 1px 1px 1px orangered;
}



#main-body > #main-sliding-banner{
    background-color: white;
    margin: none;
    width:50%;
    background-image: url("../images/children6.jpg");
    background-repeat: repeat;
    background-position: cover;
    transition: 1s ease-in-out ;
    overflow:hide;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
#main-body > #main-sliding-banner > img{
    width: 100%;
    height: 90%;
    justify-content: center;
    align-self: center;
}
#main-body > #main-sliding-banner > span{
    
    font-weight: bold;
    font-size: 1em;
    padding:2px 4px ;
    z-index: 10;
    font-family: cursive;
    background-color: #fff;
    height: 10%;
}

#main-body > #main-body-right{
    background-image: url("../images/children9.jpg");
    background-repeat: no-repeat;
    background-position: cover cover;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    
}





#collections{
    width: 100%;
    top: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
    height: auto;
    /* top: 75vh; */
    
}

/* for all the fashion divs inside collection */
#collections > *{
    width: 100%;    
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* styling for the collection titles and colection body */
/* styling for collection title */
#collections > * > .collection-title{
    height: 50px;
    text-align:center;
    text-justify: center;
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(144, 238, 144, 0.5);

}

/* styling for collection body */
#collections > * > .collection-body{
    width: 100;
    margin-top: 0px;
    background-color: white;
    color: gray;
    text-justify: distribute;
    text-transform:capitalize;
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}




/* styling all products in collection body*/
#collections > * > .collection-body > .product{
    background-color: white;
    
    margin: 8px 8px;
}

#collections > * > .collection-body > .product > img{
    width: 170px;
    height: 170px;
}

#collections > * > .collection-body > .product > .description, #collections > * > .collection-body > .product > .price, #collections > * > .collection-body > .product > .price > span{
    background-color: white;
}



/* footer starts here */
 #footer{
    display: flex;
    flex-direction: column;
    z-index: 2000;
    width: 90%;
    background-color: black;
    opacity: 1;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
}

#footer > *{
    width: 100%;
    color: white;
    background: #000; 
      
    
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;
    
}

.footer-column{
    display: flex;
    flex-direction: column;
    background: #000;
    margin-top: 20px;
}

.title{
    background: #000;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-listings{
    display: flex;
    flex-direction: column;
    background: #000;
    margin: 5px;
    
}
.footer-listings > a{
    background: #000;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 4px;
}

.copyright{
    height: 20%;
    align-content: center;
    padding-left: 45%;
    
} 




